body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-image: url("herotausta1.png");
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;

}

.topbar {
    background-color: #ede9e3;
    font-size: ;
    text-align: center;
    color: black;
}

.hero h1  {
    font-size: 140px;
}
.hero p {
    font-size: 30px;
}

.navbar{
    width: 100%;
    background-color: #FFFFFF50;
    text-transform: uppercase;
    padding: 20px 0;
    margin-top: auto;
}

.navbar-nav {
    display: flex;
    gap: 30px; 
    flex-wrap: wrap;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
}

.nav-link:hover {
    background-color: #ddd;
}

.nav-link.active {
    background-color: #ccc; 
}


.footer {
    display: flex;
    justify-content: space-around;
    background-color: #643f1e;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    
}

.footer-box {
    flex: 1;
    min-width: 200px;
    text-align: center;
    padding: 10px;
}

.footer-box h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-box p {
    font-size: 16px;
    line-height: 0.9;
}
    
.footer-box a {
    color: white;  
    text-decoration: none; 
    font-size: 16px;
}

.footer-box a i {
    color: white;
    font-size: 24px; 
}