body {
    margin: 0;
    font-family: 'Playfair Display', serif;

}

h1 {
    margin-bottom: 40px;
    font-size: 30px;
}

p {
    font-family: "Roboto", sans-serif;
}

/********************Header****************/


.header {
    display: flex;
    flex-direction: column;
    background-image: url("herotausta1.png");
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.topbar {
    font-family: "Roboto", sans-serif;
    background-color: #ede9e3;
    font-size: 15px;
    color: black;
}

.topbar p {
    padding-right: 50px;
    display: inline;

}
.hero {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1);
}

.hero h1  {
    font-size: 140px;
    font-family: 'Playfair Display', serif;
}

.hero h2 {
    font-size: 30px;
    line-height: 1;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.hero h5 {
    font-size: 25px;
    line-height: 0.6;
    font-family: 'Playfair Display', serif;
    margin-top: 50px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 30px;
    line-height: 0.6;
    font-family: 'Playfair Display', serif;
    margin-top: 50px;
}


/*****************Navigointi***************/

.navbar{
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF50;
    text-transform: uppercase;
    padding: 20px 0;
    margin-top: auto;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
    display: flex;
    gap: 30px; 
    flex-wrap: wrap;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    padding: 10px 40px;
    background-color: white;
    color: #9d7565;
    font-size: 13px;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
}
.nav-link:hover {
    background-color: #ddd;
}
.nav-link.active {
    background-color: #ccc; 
}
.nav-link:hover {
    background-color: #000;
    color: #fff !important;
}

/****************Maincontainer*************/


.maincontainer {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: #dfd7cc;
    color: #6f5335;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.innercontainer { 
    display: flex; 
    flex: 1; 
    flex-direction: row; 
    justify-content: space-between; 
    padding: 20px;
    margin-bottom: 10px;
    background-color: #efebe5;
    align-items: center;
    margin: auto;
    width: 100%;
}

.innercontainer div {
    margin: 0 70px;
}

.innercontainer img {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
    color: #6f5335; 
    border: 2px solid #6f5335;
    background: none; 
    padding: 5px 10px 5px 5px; 
    font-size: 13px; 
    cursor: pointer; 
    transition: all 0.3s ease-in-out; 
    display: inline-block; 
    margin-top: 2px; 
    margin-bottom: 15px;
}

.button:hover {
    background: #6f5335; 
    color: white; 
}
.map-container {
    float: left;
    width: 800px;
    height: 400px;
    margin-left: 0px;
    margin-right: 25px;
    padding: 0 0 20 20;
    margin-bottom: 20px;
}
#googleMap {
    float: left;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.kysymykset{
    margin-left: 0 !important;
}

.mapskuva{
    padding: 10 20 20 10;
    margin-bottom: 15px;
    width: 700px;
    height: auto;
}


/*******************Footer*****************/


.footer {
    display: flex;
    justify-content: space-around;
    background-color: #643f1e;
    color: #efebe5;
    font-family: "Roboto", sans-serif;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer-box {
    flex: 1;
    min-width: 150px;
    max-width: 300px;
    padding: 20px;
    margin:20px;
    border-width: 1px;
    border-style:solid;
    border-color:white;
}

.footer-box h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-box p {
    font-size: 16px;
    line-height: 1.2;
}
    
.footer-box a {
    color: white;  
    text-decoration: none; 
    font-size: 16px;
}

.footer-box a i {
    color: white;
    font-size: 24px; 

}

/*******************Media*****************/

/*******************1200px*****************/

@media (max-width: 1200px) {
    .hero h1 {
        font-size: 100px;
    }

    .hero h2 {
        font-size: 24px;
    }

    .hero p {
        font-size: 24px;
    }

    .navbar-nav {
        gap: 20px;
    }

    .promo {
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .hero h2, .hero p {
    display: none; }
    }

    .hero h1 {
        margin: 15px;
    }
/*******************900px*****************/

@media (max-width: 900px) {
    .innercontainer {
        flex-direction: row;
        align-items: center;
    }

    .innercontainer img {
        max-width: 300px;
    }
}

/*******************768px*****************/

@media (max-width: 768px) {
    .topbar p{
        padding: 5px;
        font-size: 12px;
    }
    .hero h1 {
        font-size: 60px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero p {
        font-size: 18px;
    }

    .navbar {
        padding: 15px 0;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .maincontainer {
        padding: 20px;
    }

    .innercontainer {
        flex-direction: column;
        align-items: center;
    }


    .footer {
        flex-direction: column; 
        align-items: center;
    }

    .footer-box {
        flex: 1; 
        min-width: 300px; 
        max-width: 300px; 
        margin: 10px 0; 
        text-align: center;
    }
}

/*******************480px*****************/

@media (max-width: 480px) {
    .hero h1 {
        font-size: 60px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero p {
        font-size: 20px;
    }

    .navbar {
        padding: 10px 0;
    }

    .navbar-nav {
        gap: 5px;
    }

    .maincontainer {
        padding: 10px;
    }

    .innercontainer {
        flex-direction: column;
    }

    .innercontainer {
        flex-direction: column;
        align-items: center;
    }

    .innercontainer div {
        margin: 5px 0;
    }

    .innercontainer img {
        max-width: 250px;
    }
}
.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
    max-width: 1200px; 
    margin: auto; 
}

.product-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #6f5335;
    flex: 1 1 300px;
    max-width: 320px;
}

.product-card img {
    width: 100%;
    height: auto;
    max-height: 180px;
    object-fit: contain;
}

.price {
    font-weight: bold;
    color: #6f5335;
}

.add-to-card {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    background-color: #6f5335;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #543c28;
}
